'scopeName': 'source.dots'
'name': 'Dots'
'fileTypes': ['dots']

'patterns': [
  {
    'match': '[.&]'
    'name':'dots.startstop'
  },
  {
    'match':'[#@]\\?{0,1}'
    'name':'dots.setvalue'
  },
  {
    'match':'\\$[_#a]{0,3}'
    'name':'dots.console-print'
  },
  {
    'match':'[#@]\\?'
    'name':'dots.console-read'
  },
  {
    'match': '[-\\/\\\\+\\-|]'
    'name':'dots.pathsimple'
  },
  {
    'match': '[><\\^v\\*~!]'
    'name':'dots.pathcomplex'
  },
  {
    'match': '[\\[{][\\*/÷+\\-%\\^&!ox>≥<≤=≠][\\]}]'
    'name':'dots.operator'
  },
  {
    'match':"'.*'"
    'name':'dots.string'
  },
  {
    'match':"`{2,}.*"
    'name':'dots.comment'
  },
  {
    'match':'".*"'
    'name':'dots.string'
  },
  {
    'match':'[0-9]{1,}'
    'name':'dots.number'
  },
  {
    'match':'%\\$[b-uw-zA-Z]'
    'name':'dots.warp'
  },
  {
    'match':'%!\\S{1,} [b-uw-zA-Z]'
    'name':'dots.library'
  }
]
